body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.navbar {
  background-color: #28a745;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
#logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: white;
}
.form-inline {
  display: flex;
}
.form-control {
  padding: 5px;
  border: none;
  border-radius: 10px;
}
.navbar-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
.navbar-nav .nav-link:hover {
  color: #ccc;
}
.profile-icon {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  max-width: 40px; 
  
}
.profile-icon:hover {
  background-color: #28a745;
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  position: relative; /* Make the dropdown container relative */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  min-width: 160px;
  padding:  0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  opacity: 1; 
  max-width: 250px; 
  right: initial; /*Ensure the dropdown stays within the viewport */
  left: auto;
  transform: translateX(-100%); 
}
.dropdown-menu a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
}

/* Hide the dropdown by default */
.dropdown.hide {
  display: none; 
}
/* Show the dropdown on hover */
/*.dropdown:hover .dropdown-menu {
  display: block; 
}*/

#dropdownMenuButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/*  */
html {
  scroll-behavior: smooth;
}

#hero {
  background-image: url('images/image1.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-container {
  background: rgba(0, 0, 0, 0.5); 
  padding: 2rem;
  border-radius: 8px;
}

.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.bar {
  background-color: #28a745;
  height: 35px;
  width: 500px;
  margin: 20px auto 20px auto;
  border-radius: 40px;
  text-align: center;
  padding-top:5px;
  color: white;
}

     /*About us*/
     .container1 {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }
  .about-us {
      text-align: center;
      margin-bottom: 40px;
  }
  .about-us h1 {
      font-size: 36px;
      color: #2c3e50;
  }
  .about-us p {
      font-size: 18px;
      color: #7f8c8d;
  }
  .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .text {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
  }
  .text h2 {
      font-size: 28px;
      color: #2c3e50;
  }
  .text p {
      font-size: 16px;
      color: #7f8c8d;
      line-height: 1.6;
  }
  .text p span {
      color: #27ae60;
  }
  .images {
      flex: 1;
      display: flex;
      flex-direction: column;
  }
  .images img {
      width: 100%;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }




  /*Footer*/
  
.footer {
  background-color:#28a745 ; 
  color: white;
  padding: 0.2rem 0;
  text-align: center;
}
.footer p { margin: 0;  
  font-size:0.9rem;
}